@import "tailwindcss";

:root {
  --background: #f7f4ef;
  --foreground: #050505;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-peyda), sans-serif;
  overflow-x: hidden;
}
